<nav class="s-header__nav-wrap">

            <h2 class="s-header__nav-heading h6">Site Navigation</h2>

            <ul class="s-header__nav">
                <li class="current"><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink></li>
                @* <li><a href="styles.html" title="">Styles</a></li> *@
                <li><NavLink href="about">About</NavLink></li>
                @* <li><a href="contact.html" title="">Contact</a></li> *@
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

        </nav> 