<nav class="s-header__nav-wrap">
    <h2 class="s-header__nav-heading h6">Site Navigation</h2>

    <ul class="s-header__nav">
        <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="about">About</NavLink></li>
    </ul>

    <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>
</nav>